<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Solicitudes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row middle-xs between-xs">
      <button mat-flat-button color="primary" (click)="openDialog()" [disabled]="user?.role_id === '2' || user?.role_id === '4'">Crear solicitud</button>
      <button mat-icon-button (click)="onGetDocs()"><mat-icon svgIcon="refresh"></mat-icon></button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Sistemas" #input>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
          </ng-container>
      
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
            <td mat-cell *matCellDef="let row"> {{ row.nombre | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSION </th>
            <td mat-cell *matCellDef="let row"> {{ row.version | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="punto_cambio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PUNTO CAMBIO </th>
            <td mat-cell *matCellDef="let row"> {{ row.punto_cambio | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion_actual">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTUAL DESC </th>
            <td mat-cell *matCellDef="let row"> {{ row.descripcion_actual | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion_cambio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMBIO DESC </th>
            <td mat-cell *matCellDef="let row"> {{ row.descripcion_cambio | uppercase }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTATUS </th>
            <td mat-cell *matCellDef="let row"> {{ row.status === 'pendient' ? 'PENDIENTE' : 'APROBADO' }} </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon svgIcon="dots-vertical"></mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item
                  [disabled]="(user?.role_id !== '2' && user?.role_id !== '1') || row.status === 'approved'"
                  (click)="updateStatus(row)">
                  <mat-icon svgIcon="file-refresh"></mat-icon>
                  <span>Aprobar solicitud</span>
              </button>
              </mat-menu>
            </td>
          </ng-container>
      
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron registros "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of docs"></mat-paginator>
      </div>
      
    </div>
  </div>
</div>