/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e0f3ef,
    100 : #b3e1d8,
    200 : #80cdbe,
    300 : #4db8a3,
    400 : #26a990,
    500 : #009a7c,
    600 : #009274,
    700 : #008869,
    800 : #007e5f,
    900 : #006c4c,
    A100 : #9cffdc,
    A200 : #69ffca,
    A400 : #36ffb8,
    A700 : #1cffae,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #f1e6e8,
    100 : #dcc0c6,
    200 : #c596a0,
    300 : #ad6c79,
    400 : #9c4d5d,
    500 : #8a2d40,
    600 : #82283a,
    700 : #772232,
    800 : #6d1c2a,
    900 : #5a111c,
    A100 : #ff91a0,
    A200 : #ff5e74,
    A400 : #ff2b48,
    A700 : #ff1232,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

